.button {
    background: $blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: $m-size;
    font-size: $font-size-large;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button--link {
    background: none;
}

.button--remove {
    background: #888888;
}